/*-------------------------------------------------
    [ ## reset ]
*/
html {
    font-size: 100%;
    scroll-behavior: smooth;
}
body {
    background-color: $body--bg;
    font-family: $font_body;
    font-size: $base__font-size;
    font-weight: 400;
    line-height: $font__line-height-body;
    color: $color--text;
    overflow-x: hidden;
}
a{
  display: inline-block;
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
blockquote {
	margin: 0 0 1.3em;
}
p { 
	margin-bottom: 15px;
	line-height: $font__line-height-paragraph;
    &:last-child {
        margin-bottom: 0px;
    }
    @media only screen and (max-width: 1199px) {
        line-height: 1.7em;
    }
}
img {
	max-width: 100%;
	height: auto;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
button {
	border: none;
    cursor: pointer;
}
input,textarea{
    padding: 12px 25px;
    width: 100%;
}
span{
    display: inline-block;
}
a,a:focus, a:hover {
    text-decoration: none;
    color: inherit;
}
blockquote{
    background-color: $bg--gray;
    padding: 40px;
    border-radius: 10px;
    font-weight: 500;
    font-style: italic;
    position: relative;
    .quote-icon{
        position: absolute;
        top: 0;
        left: 5%;
        font-size: 120px;
        opacity: .1;
    }
}
/*-------------------------------------------------
    [ ## padding ]
*/
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}
.pt-40{
    padding-top: 40px;
}
.pt-50{
    padding-top: 50px;
}
.pt-60{
    padding-top: 60px;
}
.pt-80{
    padding-top: 80px;
}
.pt-100{
    padding-top: 100px;
    @media only screen and (max-width: 991px){
        padding-top: 80px;
    }
}
.pt-120{
    padding-top: 120px;
    @media only screen and (max-width: 991px){
        padding-top: 100px;
    }
}
.pt-150{
    padding-top: 150px;
    @media only screen and (max-width: 991px){
        padding-top: 100px;
    }
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-60{
    padding-bottom: 60px;
}
.pb-80{
    padding-bottom: 80px;
}
.pb-100{
    padding-bottom: 100px;
    @media only screen and (max-width: 991px){
        padding-bottom: 80px;
    }
}
.pb-120{
    padding-bottom: 120px;
    @media only screen and (max-width: 991px){
        padding-bottom: 100px;
    }
}
.pb-150{
    padding-bottom: 150px;
    @media only screen and (max-width: 991px){
        padding-bottom: 100px;
    }
}
.ptb-10{
    padding: 10px 0;
}
.ptb-20{
    padding: 20px 0;
}
.ptb-30{
    padding: 30px 0;
}
.ptb-40{
    padding: 40px 0;
}
.ptb-50{
    padding: 50px 0;
}
.ptb-60{
    padding: 60px 0;
}
.ptb-80{
    padding: 80px 0;
}
.ptb-100{
    padding: 100px 0;
    @media only screen and (max-width: 991px){
        padding: 80px 0;
    }
}
.ptb-120{
    padding: 120px 0;
    @media only screen and (max-width: 991px){
        padding: 100px 0;
    }
}
.ptb-150{
    padding: 150px 0;
    @media only screen and (max-width: 991px){
        padding: 100px 0;
    }
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mt-60{
    margin-top: 60px;
}
.mt-80{
    margin-top: 80px;
}
.mt-100{
    margin-top: 100px;
}
.mt-120{
    margin-top: 120px;
}
.mt-150{
    margin-top: 150px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-80{
    margin-bottom: 80px;
    @media only screen and (max-width: 575px) {
        margin-bottom: 40px;
    }
}
.mb-100{
    margin-bottom: 100px;
}
.mb-120{
    margin-bottom: 120px;
}
.mb-150{
    margin-bottom: 150px;
}
.mt-10-none{
    margin-top: -10px;
}
.mt-20-none{
    margin-top: -20px;
}
.mt-30-none{
    margin-top: -30px;
}
.mt-40-none{
    margin-top: -40px;
}
.mt-50-none{
    margin-top: -50px;
}
.mt-60-none{
    margin-top: -60px;
}
.mt-80-none{
    margin-top: -80px;
}
.mt-100-none{
    margin-top: -100px;
}
.mt-120-none{
    margin-top: -120px;
}
.mt-150-none{
    margin-top: -150px;
}
.mb-10-none{
    margin-bottom: -10px;
}
.mb-20-none{
    margin-bottom: -20px;
}
.mb-30-none{
    margin-bottom: -30px;
}
.mb-40-none{
    margin-bottom: -40px;
}
.mb-50-none{
    margin-bottom: -50px;
}
.mb-60-none{
    margin-bottom: -60px;
}
.mb-80-none{
    margin-bottom: -80px;
    @media only screen and (max-width: 575px) {
        margin-bottom: -40px;
    }
}
.mb-100-none{
    margin-bottom: -100px;
}
.mb-120-none{
    margin-bottom: -120px;
}
.mb-150-none{
    margin-bottom: -150px;
}
/*-------------------------------------------------
    [ ## color ]
*/
.bg--primary{
    background-color: #7367f0 !important;
}
.bg--secondary {
    background-color: $base--color;
}
.bg--success {
    background-color: #28c76f;
}
.bg--danger {
    background-color: #ea5455;
}
.bg--warning {
    background-color: #ff9f43;
}
.bg--info {
    background-color: #1e9ff2;
}
.bg--dark {
    background-color: #10163A;
}
.bg--base {
    background-color: $base--color !important;
}
.text--primary {
    color: #7367f0;
}
.text--secondary {
    color: $base--color;
}
.text--success {
    color: #28c76f;
}
.text--danger {
    color: #ea5455;
}
.text--warning {
    color: #ff9f43;
}
.text--info {
    color: #1e9ff2;
}
.text--dark {
    color: #10163A;
}
.text--base {
    color: $base--color !important;
}
.border--primary {
    border: #7367f0;
}
.border--secondary {
    border: 1px solid $base--color;
}
.border--success {
    border: 1px solid #28c76f;
}
.border--danger {
    border: 1px solid #ea5455;
}
.border--warning {
    border: 1px solid #ff9f43;
}
.border--info {
    border: 1px solid #1e9ff2;
}
.border--dark {
    border: 1px solid #10163A;
}
.border--base {
    border: 1px solid #e5e5e5 !important;
}
.section--bg {
    background-color: $section--bg !important;
}
.bg--gray {
    background-color: $bg--gray;
}
.border--rounded{
    border-radius: 3px !important;
}
.border--capsule{
    border-radius: 100px;
}
.box-shadow{
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.08);
}
/*-------------------------------------------------
    [ ## scrollbar ]
*/
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset -5px -5px 8px -1px rgba(255, 255, 255, 0.7), 5px 5px 8px -1px rgba(0, 0, 0, 0.065);
    box-shadow: inset -5px -5px 8px -1px rgba(255, 255, 255, 0.7), 5px 5px 8px -1px rgba(0, 0, 0, 0.065);
    background-color: #eaf7e4; 
}
*::-webkit-scrollbar {
    width: 6px;
    background-color: #eaf7e4;
}
*::-webkit-scrollbar-button {
    background-color: $base--color;
}
*::-webkit-scrollbar-thumb {
    background-color: $base--color;
}
/*-------------------------------------------------
    [ ## scrollToTop ]
*/
.progress-wrap {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    display: block;
    border-radius: 100%;
    box-shadow: inset 0 0 0 0.1rem rgb(128 130 134 / 25%);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0.75rem);
    transition: all 200ms linear, margin-right 0ms;
    &.active-progress{
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }
    svg{
        &.progress-circle{
            path{
                stroke: $base--color;
                stroke-width: 4;
                box-sizing: border-box;
                transition: all 200ms linear;
            }
        }
        path{
            fill: none;
        }
    }
    &::after{
        position: absolute;
        content: "\f062";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        text-align: center;
        line-height: 2.8rem;
        font-size: 16px;
        color: $base--color;
        left: 0;
        top: 0;
        height: 2.8rem;
        width: 2.8rem;
        cursor: pointer;
        display: block;
        z-index: 1;
        transition: all 200ms linear;
    }
}

/*-------------------------------------------------
    [ ## cursor ]
*/
.cursor {
    position: fixed;
    background-color: $base--color;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 1;
    -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
    &.active{
        opacity: 1;
        transform: scale(0);
    }
    &.menu-active{
        opacity: 1;
        transform: scale(0);
    }
    &.hovered{
        opacity: 1;
    }
}
.cursor-follower {
    position: fixed;
    border: 1px solid $base--color;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 1;
    -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(2px, 2px);
    &.active{
        opacity: 1;
        transform: scale(2);
        background-color: rgba($base--color, 0.2);
        border: 1px solid rgba($base--color, 0.1);
    }
    &.menu-active{
        opacity: 1;
        transform: scale(2);
        background-color: rgba($base--color, 0.2);
        border: 1px solid rgba($base--color, 0.1);
    }
    &.hovered{
        opacity: 1;
        background-color: rgba($base--color, 0.2);
        border: 1px solid rgba($base--color, 0.1);
    }
}  

/*-------------------------------------------------
    [ ## Table ]
*/
.table-area{
    margin-top: -5px;
    margin-bottom: -15px;
}
.table-responsive {
    display: block;
    width: 100%;
}
.custom-table{
    white-space: nowrap;
    width: 100%;
    border-spacing: 0 15px;
    border-collapse: separate;
    thead{
        tr{
            background: $base--color;
            th{
                border: none;
                font-weight: 400;
                text-align: center;
                color: $white;
                font-family: $font_heading;
                font-size: 14px;
                padding: 10px 30px;
                &:first-child{
                    border-radius: 5px 0 0 5px;
                    text-align: left;
                }
                &:last-child{
                    border-radius: 0 5px 5px 0;
                    text-align: right;
                }
            }
        }
    }
    tbody{
        tr{
            background: $white;
            box-shadow: 0 5px 25px rgba(0,0,0,.1);
            border-radius: 5px;
            transition: all 0.5s;
            &:hover{
                transform: translateY(-7px);
            }
            td{
                border: none;
                font-weight: 400;
                text-align: center;
                color: $color--heading;
                font-family: $font_heading;
                font-size: 13px;
                padding: 8px 30px;
                &:first-child{
                    text-align: left;
                }
                &:last-child{
                    text-align: right;
                }
                .author-info{
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    align-items: center;
                    .thumb{
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        overflow: hidden;
                        box-shadow: 0 3px 5px rgba(0,0,0,.25);
                        img{
                            width: inherit;
                            height: inherit;
                            object-fit: cover;
                            -o-object-fit: cover;
                            object-position: center;
                            -o-object-position: center;
                        }
                    }
                    .content{
                        padding-left: 15px;
                        width: calc(100% - 45px);
                    }
                }
                a{
                    color: $white;
                    padding: 3px 8px;
                    border-radius: 3px !important;
                }
                .btn{
                    border-radius: 3px;
                    font-size: 12px;
                }
                &:first-child{
                    border-radius: 5px 0 0 5px;
                }
                &:last-child{
                    border-radius: 0 5px 5px 0;
                }
            }
        }
    }
}

/*-------------------------------------------------
    [ ## slider ]
*/
.swiper-notification{
    display: none;
}
.swiper-pagination{
    position: relative;
    display: flex;
    margin-top: 60px;
    .swiper-pagination-bullet{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: rgba($base--color, 0.2);
        opacity: 1;
    }
    .swiper-pagination-bullet-active{
        background-color: $base--color;
        width: 25px;
        border-radius: 10px;
    }
}

.slider-next, .slider-prev{
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    background-color: $white;
    border: 1px solid $border--base;
    border-radius: 50%;
    color: $color--text;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-100%);
    cursor: pointer;
    margin-top: 60px;
    transition: all 0.3s;
    &:hover{
        background-color: $base--color;
        color: $white;
    }
}
.slider-next{
    margin-left: 10px;
}

/*-------------------------------------------------
    [ ## pagination ]
*/
.pagination {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $border--base;
  padding-top: 20px;
  margin-top: 60px;
    .page-item{
        text-align: center;
        padding: 3px;
        a,span{
            width: 30px;
            height: 30px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background: transparent;
            border: 1px solid $border--base;
            color: $color--heading;
            padding: 0;
            font-weight: 700;
            line-height: 30px;
            display: block;
            margin: 0;
        }
        &.disabled{
            span{
                background: transparent;
                border: 1px solid $border--base;
                color: $color--heading;
            }
        }
        .page-link{
            transition: all 0.3s;
        }
        &.active,
        &:hover{
            .page-link{
                background-color: $base--color;
                border-color: transparent;
                color: $white;
            }
        }
    }
}

/*-------------------------------------------------
    [ ## tab ]
*/
.nav-tabs{
    margin: 0;
    border: 0;
    margin-bottom: 30px;
    .nav-link{
        padding: 8px 20px;
        border: none;
        font-weight: 600;
        font-size: 14px;
        background-color: $white;
        border: 1px solid $border--base;
        border-radius: 3px;
        font-family: $font_heading;
        transition: all 0.3s;
        &:hover{
            background-color: $base--color;
            border: 1px solid $base--color;
            color: $white;
        }
        &.active{
            background-color: $base--color;
            border: 1px solid $base--color;
            color: $white;
        }
        &:not(:last-child){
            margin-right: 10px;
            @media only screen and (max-width: 1199px) {
                margin-right: 5px;
            }
        }
    }
}

/*-------------------------------------------------
    [ ## card ]
*/
.custom--card{
    border: none;
    background: $white;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    border-radius: 15px;
    .card-header{
        background: $base--color;
        padding: 1rem 1.6rem;
        border: none;
        border-radius: 15px 15px 0 0;
        .card-title{
            color: $white;
            font-size: 14px;
            margin-bottom: 0;
            font-weight: 400;
            i{
                margin-right: 5px;
            }
        }
        .card-btn{
            a{
                font-size: 12px;
                padding: 5px 15px;
                font-weight: 600;
                i{
                    margin-right: 5px;
                }
            }
        }
    }
    .card-body{
        padding: 20px 30px;
        @media only screen and (max-width: 991px) {
            padding: 20px;
        }
        p{
            font-size: 13px;
            font-family: $font_heading;
        }
        .card-form-wrapper{
            .form--control{
                font-size: 12px;
                border: 1px solid $border--base;
                background: $white;
                font-size: 13px;
                height: 40px;
                color: $color--text;
                font-weight: 600;
                &::placeholder{
                    color: $color--text;
                }
            }
            label{
                font-weight: 400;
                font-family: $font_heading;
                color: $color--heading;
                margin-bottom: 10px;
            }
            textarea{
                height: auto;
                min-height: 120px;
                color: $color--text;
            }
            button{
                padding: 12px 30px;
                width: 100%;
            }
        }
    }
}

// Modal
.modal-content{
    border: 2px solid $base--color;
    .close{
        border-radius: 3px;
    }
}